html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  color:white;
  background-color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header styles */

.header {
  font-family: 'Prompt', sans-serif;
  letter-spacing: 0.2em;
}

.header-title {
  text-align: center;
  margin: 20px 0;
  padding: 0;
}

/* Qutes styles */

.quotes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  min-height: 700px;
  /* border: 1px solid red; */
  background-image: url("../assets/img/stars.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.quotes {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  padding: 0 20px;
}

.text,
.autor {
  font-style: italic;
  font-size: 35px;
}

.autor {
  margin-bottom: 160px;
}

.btn {
  font-size: 35px;
  cursor: pointer;
}

.btn:hover {
  background-color: #bdae82;
}

/* Footer styles */

.footer {
  height: 150px;
  color:white;
  background-color: black;
}
  
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 20px;
}

.footer-link {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  color: #bdae82;
}

.github-link {
  word-spacing: 4px;
}

.social-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.social-li {
  list-style-type: none;
  transition: 0.3s;
  background: url('../assets/svg/inst.svg');
}

.social-li:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}