html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  color:black;
  background-color: white;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Footer styles */

.footer {
  height: 150px;
  color:white;
  background-color: black;
}
  
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 20px;
  color: var(--color-white);
}

.footer-link {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: var(--color-white);
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  color: var(--color-gold);
}

.github-link {
  word-spacing: 4px;
}

.rs-link {
  margin-left: 58px;
}

.social-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.social-li {
  list-style-type: none;
  transition: 0.3s;
}

.social-li:nth-child(1) {
  background: url('../assets/svg/inst.svg');
}

.social-li:nth-child(2) {
  background: url('../assets/svg/fb.svg');
}

.social-li:nth-child(3) {
  background: url('../assets/svg/tw.svg');
}

.social-li:nth-child(4) {
  background: url('../assets/svg/pinterest.svg');
}

.social-li:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}