:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

.body-container {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--color-white);
  background-color: var(--color-black);
}

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter.ttf");
}

@font-face {
  font-family: Merriweather;
  src: url("assets/fonts/MerriweatherSans.ttf");
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-header-padding {
  padding: 20px 20px;
}

.header {
  height: 90px;
  background: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

/* .header-image {
  background: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
} */

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.section-title {
  font-family: Merriweather, serif;
  font-weight: 700;
}

.logo-container {
  width: 50px;
  height: 50px;
}

 .logo {
  color: var(--color-black);
  background-image: url("../assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s; 
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  margin-right: 30px;
  list-style-type: none;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  /* font-size: 20px;
  line-height: 50px; */
  color: var(--color-white);
  text-decoration: none;
  transition: .3s;
}

.nav-link:hover, 
.nav-link:focus,
.nav-link:active {
  color: var(--color-gold);
}

.switch-lng {
  /* width: 70px; */
  height: 50px;
  margin: 0;
}

.switch-nav-item {
  margin-right: 8px;
  list-style-type: none;
}

.switch-nav-item:last-child {
  margin-right: 0;
}

.main {
  background-color: var(--color-black);
}
/* 
.hero-container {
  background-image: url('../assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
} */