:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--color-white);
  background-color: var(--color-black);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.padding-top20px {
  padding-top: 20px;
}

.btn-gold {
  width: 220px;
  height: 55px;
  border: 0;
  background-color: var(--color-gold);
  cursor: pointer;
  font-size: 20px;
  line-height: 40px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.btn-gold:hover {
  color: var(--color-white);
  box-sizing: border-box;
}

.btn-gold:focus,
.btn-gold:active {
  background-color: transparent;
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
  border-radius: 0px;
}

.btn-black {
  width: 220px;
  height: 55px;
  background-color: var(--color-black);
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
  border-radius: 0px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 40px;
  transition: all 0.3s ease;
}

.btn-black:hover {
  color: var(--color-white);
}

.btn-black:focus,
.btn-black:active {
  border: none;
  color: var(--color-black);
  background-color: var(--color-gold);
}

/* Header styles */

.header {
  height: 90px;
  background: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 20px;
}

.h1 {
  margin: 0 0 10px 0;
  font-family: 'Merriweather', serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 120px;
  color: var(--color-white);
}

.logo {
  width: 50px;
  height: 50px;
  color: var(--color-black);
  background-image: url("../assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s; 
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin-left: auto;
  height: 50px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  margin-right: 30px;
  list-style-type: none;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 0;
  color: var(--color-white);
  text-decoration: none;
  transition: 0.3s;
}

.nav-link:hover, 
.nav-link:focus,
.nav-link:active {
  color: var(--color-gold);
  opacity: 0.75;
}

.switch-lng {
  /* width: 70px; */
  height: 50px;
  margin: 0;
}

.switch-nav-item {
  margin-right: 8px;
  list-style-type: none;
  font-weight: bold;
}

.switch-nav-item:last-child {
  margin-right: 0;
}

.header-burger {
  position: relative;
  width: 50px;
  height: 28px;
}

.burger-line {
  position: relative;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
}

/* Header styles end */


/* Hero styles */

.section-hero {
  padding: 0;
  max-width: auto;
  height: 820px;
  background-image: url('../assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;

}

.container-hero {
  margin-left: 80px;
  /* width: 500px; */
  height: 330px;
  padding-top: 158px;
}

.text-hero {
  margin: 0 0 27px 0;
  max-width: 470px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  text-shadow: 0px 4px 4px #000;
}

/* Hero styles end */


/* Skills styles */

.section-skills {
  padding: 80px 20px 0 20px;
  max-width: auto;
}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  overflow-x: hidden;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: auto;
  height: 120px;
  max-width: 700px;
  margin: 0 auto;
  color: var(--color-gold);
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 80px;
}

.section-title::after,
.section-title::before {
  content: '';
  flex-basis: 50%;
  border-bottom: 2px solid var(--color-gold);
}

.section-title::before {
  margin-right: 20px;
}

.section-title::after {
  margin-left: 20px;
}

.container-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  height: 100%;
}

.skills-item {
  width: 320px;
  height: 240px;
  background-position: center top;
  background-repeat: no-repeat;
}

.skills-item:nth-child(1) {
  background-image: url('../assets/svg/camera.svg');
  background-size: 62px 50px;
}

.skills-item:nth-child(2) {
  background-image: url('../assets/svg/video.svg');
  background-size: 62px 50px;
}

.skills-item:nth-child(3) {
  background-image: url('../assets/svg/retouch.svg');
  background-size: 66px 50px;
}

.skills-item:nth-child(4) {
  background-image: url('../assets/svg/mic.svg');
  background-size: 62px 50px;
}

.skills-items-title {
  margin-top: 100px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  text-align: center;


}

.items-text {
  /* max-width: 280px; */
  margin-top: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

/* Skills styles end */


/* Portfolio styles */

.section-portfolio {
  /* height: 1500px; */
  padding: 80px 20px 0 20px;
  max-width: auto;
}

.portfolio-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 40px;
}

.portfolio-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 60px auto 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-card1 {
  background-image: url('../assets/img/portfolio-img1.jpg');
  width: 450px;
  height: 560px;
}

.portfolio-card2 {
  background-image: url('../assets/img/portfolio-img2.jpg');
  width: 450px;
  height: 560px;
}

.portfolio-card3 {
  background-image: url('../assets/img/portfolio-img3.jpg');
  width: 450px;
  height: 560px;
}

.portfolio-card4 {
  background-image: url('../assets/img/portfolio-img4.jpg');
  width: 450px;
  height: 560px;
}

.portfolio-card5 {
  background-image: url('../assets/img/portfolio-img5.jpg');
  width: 450px;
  height: 560px;
}

.portfolio-card6 {
  background-image: url('../assets/img/portfolio-img6.jpg');
  width: 450px;
  height: 560px;
}

/* Portfolio styles end */


/* Video styles*/

.section-video {
  height: 945px;
  max-width: auto;
  padding: 80px 20px 0 20px;
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  max-width: 1400px;
  height: 705px;
  background-image: url('../assets/img/video-bg.jpg');
}

.video-btn {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background-image: url('../assets/svg/video-btn.svg');
  background-color: transparent;
  width: 130px;
  height: 130px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.video-btn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/* Video styles end */


/* Price styles */

.section-price {
  /* height: 845px; */
  padding: 80px 20px 0 20px;
  margin-bottom: 100px;
  max-width: auto;
}

.price-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}

.price-card {
  padding-top: 20px;
  width: 450px;
  height: 505px;
  border: 2px solid var(--color-gold);
}

.price-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: var(--color-white);
}

.price {
  margin-top: 20px;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: var(--color-gold);
}

.price-span {
  display: block;
}

.price-btn {
  margin: 41px 113px 41px 113px;
}

/* Price styles end */


/* Contacts styles */
.section-contacts {
  height: 700px;
  max-width: 1440px;
  background: url('../assets/img/contacts-bg.jpg');
  background-size: auto 700px;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 60px;
}

.container-contacts {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 auto;
  max-width: 450px;
  height: 445px;
}

.contacts-title {
  margin-top: 0px;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: var(--color-gold);
}

.contacts-form {
  padding-top: 6px;
}

.contacts-input,
.contacts-textarea {
  padding: 5px 20px;
  width: 100%;
  border: 2px solid var(--color-gold);
  font-size: 20px;
  color: var(--color-gold);
  background: rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

.contacts-input {
  margin-bottom: 20px;
  height: 50px;
}

.contacts-textarea {
  padding-top: 12px;
  margin-bottom: 26px;
  height: 100px;
  resize: none;
}

.contacts-input::placeholder,
.contacts-textarea::placeholder {
  font-family: inherit;
  color: var(--color-gold);
  font-size: 20px;
}

/* Contacts styles end*/


/* Footer styles*/

.footer {
  height: 150px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 43px 20px;
  color: var(--color-white);
}

.footer-link {
  display: block;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: var(--color-white);
  text-decoration: none;
  transition: 0.3s;
}

.footer-link:hover {
  color: var(--color-gold);
}

.github-link {
  word-spacing: 4px;
}

.rs-link {
  margin-left: 58px;
}

.social-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.social-li {
  list-style-type: none;
  transition: 0.3s;
}

.social-li:nth-child(1) {
  background: url('../assets/svg/inst.svg');
}

.social-li:nth-child(2) {
  background: url('../assets/svg/fb.svg');
}

.social-li:nth-child(3) {
  background: url('../assets/svg/tw.svg');
}

.social-li:nth-child(4) {
  background: url('../assets/svg/pinterest.svg');
}

.social-li:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.social-link {
  display: block;
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Footer styles end*/

/* Media styles*/
@media (max-width: 1320px) {
  .container-skills {
    justify-content: space-evenly;
  }
}


@media (max-width: 768px) {
  
  .nav {
      display: none;
  }

  .container {
    margin: 0 auto;
    max-width: 768px;
  }
  
  .padding-top20px {
    padding-top: 20px;
  }
  
  .header {
    background-position: -5px -30px;
    background-size: auto 620px;
    /* background-position: center;
    background-size: cover; */
  }

  .header-container {
    padding: 0 60px;
  }

  .section-hero {
    padding: 0;
    height: 500px;
    background-position: -5px -120px;
    background-size: auto 620px;
    /* background-position: center;
    background-size: cover; */
  }

  .container-hero {
    padding: 78px 60px 0 60px;
    margin-left: 0;
  }

  .h1 {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 64px;
  }

  .text-hero {
    margin: 20px 0 60px 0;
    max-width: 390px;
    line-height: 24px;
  }

  .section-title {
    height: 80px;
    max-width: 364px;
    font-size: 32px;
    line-height: 40px;
  }

  .section-skills {
    padding: 80px 60px 0 60px;
    max-height: 729px;
  }

  .container-skills {
    margin-top: 43px;
    justify-content: space-between;
  }

  .skills-items-title {
    margin-top: 80px;
  }
  
  .skills-item {
    width: 305px;
    height: 261px;
  }

  .skills-item .items-text {
    line-height: 22px;
  }

  .section-portfolio {
    padding: 83px 60px 0 60px;
    height: 3870px;
  }

  .portfolio-btns {
    margin-top: 51px;
  }

  .portfolio-cards {
    justify-content: center;
  }

  .section-video {
    height: 628px;
    padding: 84px 0 0 0;
  }

  .section-video .container {
    padding: 0;
  }

  .video-player {
    margin-top: 50px;
    max-width: 768px;
    height: 418px;
    background-image: url('../assets/img/video-bg-tablet.jpg');
    background-repeat: no-repeat;
    background-position: -3px 0px;
    background-size: 816px 418px;
  }

  .video-btn {
    width: 65px;
    height: 65px;
    background-size: 65px 65px;
  }

  .section-price {
    padding-top: 83px;
    margin-bottom: 80px;
  }
 
  .price-cards {
    margin-top: 51px;
    gap: 50px;
  }

  .price-card {
    padding-top: 20px;
    width: 420px;
    height: 505px;
  }

  .price-btn {
    margin: 40px 99px 40px 99px;
  }

  .section-contacts {
    height: 600px;
    max-width: auto;
    background-size: auto 600px;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 60px;
  }
  
  .container-contacts {
    margin: 0 auto;
    max-width: 450px;
    height: 445px;
  }
  
  .contacts-title {
    text-align: center;
    font-size: 32px;
    line-height: 64px;
  }

  .section-contacts .btn-gold {
    margin-left: 115px;
  }

  .contacts-form {
    padding-top: 14px;
  }

  .footer {
    max-width: 768px;
    height: 190px;
  }
  
  .container-footer {
    flex-direction: column;
    padding: 28px 20px 0 20px;
  }

  .github-link {
    word-spacing: 5px;
    line-height: 24px;
  }
  
  .rs-link {
    margin-top: 16px;
    margin-left: 0;
    line-height: 24px;
  }
  
  .social-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 100%;
    margin: 28px auto 0 auto;
    padding-left: 0;
  }
}

@media (max-width: 730px) {
  .container-skills {
    justify-content: start;
    flex-direction: column;
  }
}