:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #ffffff;
  --font1: 60px;
  --font2: 40px;
}

* {
  box-sizing: border-box;
}

.body-container {
  color: var(--color-white);
  font-family: Inter, sans-serif;
  background-color: var(--color-black);
}

@font-face {
  font-family: Inter;
  src: url("assets/fonts/Inter.ttf");
}

@font-face {
  font-family: Merriweather;
  src: url("assets/fonts/MerriweatherSans.ttf");
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  height: 90px;
  background: url('./assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.section-title {
  font-family: Merriweather, serif;
  font-weight: 700;
}

.section-title-hero {

}

.logo {
  height: 50px;
  width: 50px;
  border-radius: 0px;
  color: var(--color-white);
  /* background-color: #ffffff; */
  background-image: url('./assets/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s; 
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {

}

.nav-list {

}

.nav-item {

}

.switch-lng {
  width: 70px;
  height: 50px;
}

.hero-container {
  background-image: url('./assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}